<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <!--<link rel="stylesheet" type="text/css" href="../jquery-ui/jquery-ui.css">--> <!--include if want to use datepicker-->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!--<script type="text/javascript" src="../jquery-ui/jquery-ui.js"></script>--> <!--include if want to use datepicker-->
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_table.php';

        $(document).ready(function () {
            selectReference({
                elem: $('#room_id'),
                tableName: 'rooms',
                keyFieldName: 'room_id',
                textFieldName: 'room_name',
                defaultValue: '{/literal}{$values.room_id}{literal}'
            });
        });
    </script>
    {/literal}
</head>
<body>

<div class="ftb-header">
    <div class="toolbar-container clearfix">
	    <ul class="toolbar-menu">
		    <li>
                {if $action == 'ADD'}
			    <a id="save-btn">
				    <span class="mbk-icon mbk-check"></span> เพิ่ม
			    </a>
                {elseif $action == 'EDIT'}
                <a id="save-btn">
				    <span class="mbk-icon mbk-save"></span> บันทึก
			    </a>
                 {/if}
		    </li>
		    <li>
			    <a id="cancel-btn">
				    <span class="mbk-icon mbk-cross"></span> ยกเลิก
			    </a>
		    </li>
	    </ul>
    </div>
</div>
<div class="ftb-body">
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="bed_name,room_id"> <!--ใน property value ให้ใส่ชื่อ field ที่ต้องการเช็คค่าว่าง หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย , และห้ามมีช่องว่าง เช่น name,surname เป็นต้น-->
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
	    <tbody>
		    <tr>
			    <td>
				    <label>ชื่อเตียงนวด</label>
				    <input id="bed_name" name="bed_name" type="text" class="form-input full" value="{$values.bed_name}">
			    </td>
		    </tr>
            <tr>
			    <td>
				    <label>ชื่อห้องนวด</label>
				    <div id="room_id" class="select-reference form-input full"></div>
			    </td>
		    </tr>
	    </tbody>
    </table>
    </form>
</div>
</body>
</html>